{%load static%}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{% static 'pepew2.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	</head>
	<body>
		{% block navbar %}
		{% include "navbar.html" %}
		{% endblock %}
		<p class="title">Skills</p>
		<div>
			<a href="https://imgbb.com/"><img src="https://image.ibb.co/krcqme/58480979cef1014c0b5e4901.png" alt="58480979cef1014c0b5e4901" border="0" id="logo"></a>
			<a href="https://imgbb.com/"><img src="https://image.ibb.co/k7n5Me/5848152fcef1014c0b5e4967.png" alt="5848152fcef1014c0b5e4967" border="0" class="python"></a>
		</div>
	</body>
</html>