{%load staticfiles%}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="registration.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
  			<div class="container-fluid">
    			<div class="navbar-header">
      				<a class="navbar-brand" href={% url 'pepew' %} style="color: #12af92">Devin Winardi</a>
    			</div>
    			<ul class="nav navbar-nav">
      			<li><a href="{% url 'pepew' %}">Home</a></li>
      			<li><a href="{% url 'pepew' %}">Experience</a></li>
      			<li><a href="{% url 'pepew' %}">Skills</a></li>
      			<li class="{% url 'pepew' %}"><a href="registration.html">Registration</a></li>
    			</ul>
  			</div>
		</nav>
		<div class="container" style="padding-top: 4%">
 			<h2>Registration Form</h2>
  			<form>
  			<div class="form-group">
      			<label for="name">Name:</label>
      			<input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
    		</div>
    		<div class="form-group">
      			<label for="date">Birth date:</label>
      			<input type="date" class="form-control" id="date" name="date">
    		</div>
    		<div class="form-group">
      			<label for="email">Email:</label>
      			<input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    		</div>
    		<div class="form-group">
      			<label for="username">Username:</label>
      			<input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
    		</div>
    		<div class="form-group">
      			<label for="pwd">Password:</label>
      			<input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
    		</div>
    		<div class="form-group">
      			<label for="conf">Confirmation:</label>
      			<input type="password" class="form-control" id="conf" placeholder="Re-type password" name="conf">
    		</div>
    		<button type="submit" class="btn btn-default"><a href="berhasil.html">Submit</a></button>
  			</form>
		</div>
	</body>
</html>