<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
	<article> Kampus : Universitas Indonesia </article>
	<article> Hobi : Olahraga </article>
	<article> Saya adalah anak pertama dari 2 bersaudara, dan saya berasal dari Medan </article>
	<img src="https://lh5.googleusercontent.com/VojThEJXyGYqBKqfPIUnbm2Wiz_bbenxSmHCRowozNTwMg-6Ccr0fogMV2BFWuj2uwhp_to5TaRFhjr1mOXp=w1920-h910-rw" width="350">
	<p> Teman sebelah saya adalah Palito </p>
	<article> NPM : 1706039793 </article>
	<article>I am 18 years old</article>
	<article> Hobi : Bermain musik </article>
	<article> Palito adalah teman saya dari SMP </article>
	<p> Teman sebelah saya adalah Fadhlan </p>
	<article> NPM : 1706040132 </article>
	<article>I am 21 years old</article>
	<article> Hobi : Travelling </article>
	<article> Fadhlan dulunya anak FTTM ITB. </article>
</body>
</html>
